@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    box-sizing:border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height:100%; 
    background-image: linear-gradient(to right top, #d8cdd3, #d7ccd6, #d5ccd9, #d1ccdd, #cbcce0, #c7cfe5, #c2d3e8, #bdd7eb, #bbdeef, #bae5f1, #bbecf1, #bff2ef);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    height: 100%; 
}

/*Body Container*/
.container{
    width: 80%; 
    margin: auto;
     
}
/*Body Container End*/



/* Navigation Bar */

.navbar{
display: flex;
justify-content: space-between;
padding-top: 1rem;
text-align: center;
}

.navbar a{
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    padding-left: .50rem;
    padding-right: .50rem;
    padding-top: .25rem; 
    padding-bottom: .25rem; 
    color: black; 
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.navbar a:hover{
    background-color:whitesmoke;  
    transform: scale(1.1); 
    padding-left: .85rem;
    padding-right: .85rem;
}
/* Navigation Bar*/ 

/* Hero Header*/

.hero-header{
    font-family: 'Space Mono', monospace;
    text-shadow: 3px 3px 3px orange;
    text-align: center;
    font-size: 4rem;
}
/* Hero Header*/

/*Homepage Food Links*/
.homefoodlinks{
    display: grid;  
    align-items: center;
    margin: auto;
    row-gap:1rem; 
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: 
    width: 80%; 
    justify-content: center;
    justify-items: center;
}

.recipe-link{   
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.recipe-link:hover{
    color:orange; 
}

.home-food-img{ 
    width: 15rem; 
    height: auto;
}
/*Homepage Food Links*/

/*Recipe Pages Styling*/

.ingredients{
    width: 80%; 
    margin: auto;
    background-color:#f0f2f4;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px; 
    opacity: 75%;
}

.recipe-header {
    background-color: black;
    color:white; 
    padding: 15px;  
    border-radius: 15px;
    text-align: center;
}

h2{
    font-weight: 200;
    font-size: 1.3rem;
}

h3{
    font-size: 1.5rem;
}

ul, ol{
    font-size: 1.3rem;
}

.footer-image{
    text-align: center;
}


